body {
    background-color: blanchedalmond;
    margin: 0;
    font-family: 'Fanwood Text', serif;
}

header {
    max-height: 100px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #c3e3d8;
    border-bottom: 8px solid white;
    align-items: flex-end;
}

.main {
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
}

p {
    margin: 0;
}

h1 {
    font-family: 'Alex Brush', cursive;
}